// Filter

.filter-container {
  text-align: center;
  padding: 50px 0;
}

.filter-pokemon{
  width: 500px;
  height: 30px;
  text-align: center;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0 rgba(0, 0, 0, 0.35);
  border: none;
}

// PokemonList

.pokemon-list{
  display: flex;
  flex-wrap: wrap;
  text-decoration: none;
  list-style-type: none;
  margin: 20px 200px;
  padding: 5px;
}

.pokemon-list__item{
  border: 2px solid lightgrey;
  list-style-type: none;
  margin: 10px;
  padding: 0;
  width: 200px;
}

// PokemonDetails

.image-container{
  background-color: lightgray;
  justify-content: center;
}

.pokemon-image{
  margin: 5px;
}
